<nav class="navigation">
    <a class="logo" href="#">
        <img src="assets/logo1.jpg" alt="Logo">
        Hortifruti<span> Mem de Sá</span>
      </a>
      
    <ul class="nav-menu">
        <li class="nav-item"><a [routerLink]="['/']">Início</a></li>
        <li class="nav-item"><a href="#about">Sobre</a></li>
        <li class="nav-item"><a href="#contato">Contato</a></li>
    </ul>
    <div class="menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</nav>
